<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stlyes/util.css">
	<link rel="stylesheet" type="text/css" href="/styles/login.css">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 d-flex align-items-center justify-content-center">
				{{#if mail}}
				<section class="mb-">

					<form action="/sendOtp" method="post">
						<span class="login100-form-title">
							Forgot Password?
							<br>
							<p class="pt-2 pb-0 fw-bold text-success">Enter your Email address</p>
						</span>
						<div>

						</div>
				 {{#if error}}
            <p class="text-center fw-bold" style="color: rgb(190, 0, 0)">There is no user with this email </p>
            {{/if}}
						<div class="wrap-input100 validate-input " data-validate="Valid email is required: ex@abc.xyz">
							<input class="input100" type="text" name="email" placeholder="Email" required>
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</span>
						</div>
					
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit">
						Send otp
					</button>
				</div>
				</form>
				</section>
{{/if}}
				{{#if otpPage}}
				<section>
					<form action="/submitOtp" method="post">
						<span class="login100-form-title">
							Enter the verification Otp
							<br>

						</span>

						<div class="wrap-input100 validate-input " data-validate="Valid email is required: ex@abc.xyz">
							<input class="input100" type="text" id="otp" name="otp"  required>
						</div>
						<div class="container-login100-form-btn">
							<button class="login100-form-btn" type="submit">
								Send otp
							</button>
						</div>

					</form>
				</section>

				{{/if}}


				{{#if changePassword}}
				<section>
					<form action="/resetPassword" method="post">
						<span class="login100-form-title">
							<div>
							Change password
							</div>
							<br>

							<div class="wrap-input100 validate-input" data-validate="Password is required">
								<input class="input100" type="password" name="password" placeholder="Password" required>
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-lock" aria-hidden="true"></i>
								</span>
							</div>
							<div class="wrap-input100 validate-input" data-validate="Password is required">
								<input class="input100" type="password" name="cfmPassword" placeholder="Confirm Password" required>
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-lock" aria-hidden="true"></i>
								</span>
							</div>
							<div class="container-login100-form-btn">
								<button class="login100-form-btn" type="submit">
									Send otp
								</button>
							</div>

					</form>
				</section>
				{{/if}}







			</div>
		</div>
	</div>

	<style>